body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f9fa;
}

container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #343a40;
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: #343a40;
  text-align: center;
  margin-top: 50px;
}

h3 {
  padding-top: 20px;
}

.go-back {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
}

ul {
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul.pagination {
  margin-top: 0px!important;
  margin-bottom: 40px!important;
}

li {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group {
  margin: 0 auto;
  display: flex;
  width: 50%;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.qa-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
}

.qa-form input {
  flex-grow: 1;
  display: block;
}

.qa-form button {
  flex-grow: 1;
  max-width: 150px;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
}

input[type="text"] {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ddd;
  font-size: 1.2rem;
  padding: 0.5rem;
}

input#openai-key {
  width: 70%;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

#paper-list {
  margin: 10;
  padding: 0;
  column-count: 1;
}

#paper-list li {
  margin-bottom: 20px;
  padding: 20px;
}

#pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.pagination > li > a {
  color: #007bff;
}

.pagination > li > a:hover {
  color: #0062cc;
  text-decoration: none;
  background-color: #e9ecef;
}

.pagination > .active > a {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination > .active > a:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.pagination > .disabled > a {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #ddd;
}

.pagination > .disabled > a:hover {
  background-color: #fff;
  border-color: #ddd;
}

.pagination > li:first-child, .pagination > li:last-child {
  margin-right: 40px;
}

.btn-pagination {
  width: 200px;
}

.btn-pagination > .disabled > .btn-pagination:hover {
  background-color: #007bff;
  color: #fff;
}

#pagination .page-link:hover {
  background-color: white;
}

#pagination .page-link:before {
  border: none;
}

.page-link {
  border: none;
}

.page-link:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

#answer {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

